<template>
  <v-virtual-scroll :bench="0" :items="users" height="500" item-height="128">
    <template v-slot:default="{ item }">
      <v-list-item :key="item._id">
        <v-badge
          bordered
          color="error"
          icon="mdi-star"
          overlap
          offset-x="30"
          offset-y="30"
          :value="item.friend"
        >
          <v-list-item-avatar size="64">
            <v-avatar
              :color="item.color"
              size="64"
              class="white--text"
              @click="switchFriend(item)"
            >
              <img :src="item.avatar" :alt="item.name" />
            </v-avatar>
          </v-list-item-avatar>
        </v-badge>

        <v-list-item-content>
          <v-list-item-title class="text--primary">
            <strong>{{ item.nombre }}</strong>
            <v-tooltip right>
              <template v-slot:activator="{ on, attrs }">
                <v-icon
                  left
                  small
                  :color="item.rol == 'admin' ? 'secondary' : 'grey'"
                  v-if="item.rol"
                  :alt="item.rol"
                  v-bind="attrs"
                  v-on="on"
                >
                  mdi-crown
                </v-icon>
              </template>
              <span>{{ item.rol }}</span>
            </v-tooltip>
          </v-list-item-title>
          <v-list-item-subtitle>
            <v-chip-group active-class="primary--text" column>
              <v-chip
                v-for="tag in item.imparte"
                :key="tag._id"
                v-show="tag.nombre"
              >
                <v-icon left small> mdi-school </v-icon>
                {{ tag.nombre }}
              </v-chip>
              <v-chip
                v-for="tag in item.intereses"
                :key="tag._id"
                v-show="tag.nombre"
              >
                {{ tag.nombre }}
              </v-chip>
            </v-chip-group>
          </v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-action>
          <div v-if="item.calificacion">
            <v-icon small> mdi-star </v-icon>{{ item.calificacion }}
          </div>
        </v-list-item-action>
      </v-list-item>

      <v-divider></v-divider>
    </template>
  </v-virtual-scroll>
  <!-- <v-container class="grey lighten-5 pa-4" fluid>
    <v-row justify="start">
      <v-col cols="2" class="text-center">
        <v-badge avatar bordered overlap>
          <template v-slot:badge>
            <v-avatar>
              <v-img src="https://cdn.vuetifyjs.com/images/logos/v.png"></v-img>
            </v-avatar>
          </template>
          <v-avatar size="60">
            <img :src="user.avatar" :alt="user.name" />
          </v-avatar>
        </v-badge>
      </v-col>
      <v-col>
        <v-row class="mb-6">
          <v-col>
            <span class="text-h5">{{ user.nombre }}</span>
          </v-col>
          <v-col cols="2">
            <v-chip class="ma-2" color="primary" label text-color="white">
              <v-icon left> mdi-star </v-icon>
              {{ user.calificacion }}
            </v-chip>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row class="mb-6">
      <v-chip-group active-class="primary--text" column>
        <v-chip v-for="tag in user.imparte" :key="tag">
          {{ tag }}
        </v-chip>
        <v-chip v-for="tag in user.conocimientos" :key="tag">
          {{ tag }}
        </v-chip>
      </v-chip-group>
    </v-row>
  </v-container> -->
</template>

<script>
import axios from "axios";

export default {
  name: "amigo-conocimientos",
  props: ["users"],
  data() {
    return {};
  },
  methods: {
    switchFriend(el) {
      //   this.$store.dispatch("switchFriend");
      const URL = import.meta.env.VITE_API;
      axios
        .put(URL + "/user/switchFriend", {
          friend_id: el._id,
        })
        .then((response) => response.data)
        .then((data) => {
          //   this.users = data;
          el.friend = data;
        })
        .catch((error) => {
          alert(error);
        });
    },
  },
  created() {},
};
</script>

<style scoped>
.v-avatar {
  cursor: pointer;
  border: 3px solid #e0e0e0;
}
</style>