<template>
  <v-container>
    <v-row class="fill-height pa-2">
      <v-col v-if="!quedada">
        <v-btn fab top rigth dark color="blue" @click="crearQuedada()">
          <v-icon>mdi-calendar</v-icon>
        </v-btn>
        <QuedadaCrearDialog
          :dialog="crear"
          @close="
            this.crear = false;
            this.active = false;
          "
        ></QuedadaCrearDialog>
        <v-sheet height="64">
          <v-toolbar flat>
            <v-btn
              outlined
              class="mr-4"
              color="grey darken-2"
              @click="setToday"
            >
              Hoy
            </v-btn>
            <v-btn fab text small color="grey darken-2" @click="prev">
              <v-icon small> mdi-chevron-left </v-icon>
            </v-btn>
            <v-btn fab text small color="grey darken-2" @click="next">
              <v-icon small> mdi-chevron-right </v-icon>
            </v-btn>
            <v-toolbar-title v-if="$refs.calendar">
              {{ $refs.calendar.title }}
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu bottom right>
              <template v-slot:activator="{ on, attrs }">
                <v-btn outlined color="grey darken-2" v-bind="attrs" v-on="on">
                  <span>{{ typeToLabel[type] }}</span>
                  <v-icon right> mdi-menu-down </v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item @click="type = 'day'">
                  <v-list-item-title>Día</v-list-item-title>
                </v-list-item>
                <v-list-item @click="type = 'week'">
                  <v-list-item-title>Semana</v-list-item-title>
                </v-list-item>
                <v-list-item @click="type = 'month'">
                  <v-list-item-title>Mes</v-list-item-title>
                </v-list-item>
                <v-list-item @click="type = '4day'">
                  <v-list-item-title>4 días</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-toolbar>
        </v-sheet>
        <v-sheet height="70vh">
          <v-calendar
            ref="calendar"
            v-model="focus"
            color="primary"
            locale="es"
            :weekdays="weekday"
            :events="events"
            :event-color="getEventColor"
            :type="type"
            @click:event="showEvent"
            @click:more="viewDay"
            @click:date="viewDay"
            @change="getCalendar"
          ></v-calendar>
          <v-menu
            v-model="selectedOpen"
            :close-on-content-click="false"
            :activator="selectedElement"
            offset-x
          >
            <v-card color="grey lighten-4" min-width="350px" flat>
              <v-toolbar :color="selectedEvent.color" dark>
                <v-btn icon>
                  <v-icon v-if="propio == true">mdi-pencil</v-icon>
                  <v-icon v-else>mdi-account-remove</v-icon>
                </v-btn>

                <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn
                  icon
                  @click="comenzarQuedada(selectedEvent)"
                  v-if="selectedEvent.estado != 'terminada'"
                >
                  <!-- <v-btn icon :to="selectedEvent.enlace"> -->
                  <v-icon>mdi-video</v-icon>
                </v-btn>
                <v-rating
                  v-else
                  color="warning"
                  empty-icon="mdi-star-outline"
                  full-icon="mdi-star"
                  half-icon="mdi-star-Half-Full"
                  hover
                  length="5"
                  size="16"
                  value="3"
                ></v-rating>
                <v-btn icon>
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </v-toolbar>
              <v-card-text>
                <span v-html="selectedEvent.details"></span>
              </v-card-text>
              <v-card-actions>
                <v-btn text color="secondary" @click="selectedOpen = false">
                  Cancel
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-menu>
        </v-sheet>
      </v-col>
      <v-col v-else class="fill-height pa-2 md-8">
        <PareaJitsi :options="quedada"></PareaJitsi>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import PareaJitsiVue from "@/components/quedadas/PareaJitsi.vue";
import QuedadaCrearDialog from "@/components/quedadas/QuedadaCrearDialog.vue";
import axios from "axios";

export default {
  components: { PareaJitsiVue, QuedadaCrearDialog },
  name: "calendar",
  data: () => ({
    user: "",
    quedada: "",
    focus: "",
    type: "month",
    weekday: [1, 2, 3, 4, 5, 6, 0],
    typeToLabel: {
      month: "Mes",
      week: "Semana",
      day: "Día",
      "4day": "4 días",
    },
    crear: false,
    active: false,
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    events: [],
    // colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
    // names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
    colors: {
      //   'Meeting': 'blue',
      // 'Holiday': 'indigo',
      // 'PTO': 'deep-purple',
      // 'Travel': 'cyan',
      pendiente: "green",
      activa: "orange",
      terminada: "grey darken-1",
      cancelada: "red",
      propio: "",
    },
  }),
  mounted() {
    this.$refs.calendar.checkChange();
    this.getUser();
  },
  // watch: {
  //   seleccion() {
  //     return this.comenzarQuedada();
  //   },
  // },
  methods: {
    crearQuedada() {
      this.crear = true;
    },
    getUser() {
      const URL = import.meta.env.VITE_API;
      axios
        .get(URL + "/user")
        .then((response) => response.data)
        .then((data) => {
          this.user = data;
        })
        .catch((error) => {
          alert(error);
        });
    },
    comenzarQuedada(ev) {
      alert(JSON.stringify(ev));
      this.quedada = {
        url: ev.enlace,
        userInfo: { displayName: this.user.nombre },
        roomName: ev.name,
      };
      // alert(JSON.stringify(this.quedada));
      // alert(JSON.stringify(this.quedada));
    },
    viewDay({ date }) {
      this.focus = date;
      this.type = "day";
    },
    getEventColor(event) {
      return event.color;
    },
    setToday() {
      this.focus = "";
    },
    prev() {
      this.$refs.calendar.prev();
    },
    next() {
      this.$refs.calendar.next();
    },
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event;
        this.selectedElement = nativeEvent.target;
        requestAnimationFrame(() =>
          requestAnimationFrame(() => (this.selectedOpen = true))
        );
      };

      if (this.selectedOpen) {
        this.selectedOpen = false;
        requestAnimationFrame(() => requestAnimationFrame(() => open()));
      } else {
        open();
      }

      nativeEvent.stopPropagation();
    },

    changeCalendar(agenda) {
      const events = [];

      for (let evento in agenda) {
        const date = new Date(agenda[evento].fecha_quedada);

        events.push({
          name:
            agenda[evento].nombre ||
            "Quedada de <strong>" +
              agenda[evento].id_creador.nombre +
              "</strong>",
          start: date,
          end: new Date(date.getTime() + agenda[evento].duracion * 3600000),
          color: this.colors[agenda[evento].estado],
          estado: agenda[evento].estado,
          timed: true,
          // enlace: agenda[evento].enlace.replace(
          //   "https://meet.jit.si/",
          //   "meets/"
          // ),
          enlace: agenda[evento].enlace.replace(
            "https://meet.jit.si/",
            "meets/"
          ),
          propio: agenda[evento].propio,
        });
      }

      this.events = events;
      // this.comenzarQuedada();
    },
    getCalendar() {
      const URL = import.meta.env.VITE_API;
      axios
        .get(URL + "/meets")
        .then((response) => response.data)
        .then((data) => {
          this.changeCalendar(data);
        })
        .catch((error) => {
          alert(error);
        });
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a;
    },
  },
};
</script>