<template>
  <v-row class="fill-height pa-2" v-if="!quedada">
    <v-col>
      <v-sheet height="64">
        <v-toolbar flat>
          <v-toolbar-title v-if="$refs.calendar">
            {{ $refs.calendar.title }}
          </v-toolbar-title>
        </v-toolbar>
      </v-sheet>
      <v-sheet height="70vh">
        <v-calendar
          ref="calendar"
          v-model="focus"
          color="primary"
          locale="es"
          :weekdays="weekday"
          :events="events"
          :event-color="getEventColor"
          :type="type"
          @click:event="showEvent"
          @click:more="viewDay"
          @click:date="viewDay"
          @change="getCalendar"
        ></v-calendar>
        <v-menu
          v-model="selectedOpen"
          :close-on-content-click="false"
          :activator="selectedElement"
          offset-x
        >
          <v-card color="grey lighten-4" min-width="350px" flat>
            <v-toolbar :color="selectedEvent.color" dark>
              <v-btn icon>
                <v-icon v-if="(propio = true)">mdi-pencil</v-icon>
                <v-icon v-else>mdi-account-remove</v-icon>
              </v-btn>
              <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon @click="comenzarQuedada(selectedEvent)">
                <v-icon>mdi-video</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </v-toolbar>
            <v-card-text>
              <span v-html="selectedEvent.details"></span>
            </v-card-text>
            <v-card-actions>
              <v-btn text color="secondary" @click="selectedOpen = false">
                Cancel
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
      </v-sheet>
    </v-col>
  </v-row>
  <v-row v-else class="fill-height pa-2 md-8">
    <PareaJitsi :options="comenzarQuedada(selectedEvent)"></PareaJitsi>
  </v-row>
</template>

<script>
import PareaJitsiVue from "@/components/quedadas/PareaJitsi.vue";
import axios from "axios";

export default {
  components: { PareaJitsiVue },
  name: "calendar",
  data: () => ({
    user: "",
    quedada: "",
    focus: "",
    type: "day",
    weekday: [1, 2, 3, 4, 5, 6, 0],
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    events: [],
    // colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
    // names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
    colors: {
      //   'Meeting': 'blue',
      // 'Holiday': 'indigo',
      // 'PTO': 'deep-purple',
      // 'Travel': 'cyan',
      pendiente: "green",
      activa: "orange",
      terminada: "grey darken-1",
      cancelada: "red",
    },
  }),
  mounted() {
    this.$refs.calendar.checkChange();
  },
  methods: {
    comenzarQuedada(quedada) {
      this.quedada = {
        url: quedada.url,
        userInfo: { displayName: this.user.nombre },
        roomName: quedada.nombre,
      };
      // alert(JSON.stringify(this.quedada));
      // console.log(JSON.stringify(this.quedada));
    },
    viewDay({ date }) {
      this.focus = date;
      this.type = "day";
    },
    getEventColor(event) {
      return event.color;
    },
    setToday() {
      this.focus = "";
    },
    prev() {
      this.$refs.calendar.prev();
    },
    next() {
      this.$refs.calendar.next();
    },
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event;
        this.selectedElement = nativeEvent.target;
        requestAnimationFrame(() =>
          requestAnimationFrame(() => (this.selectedOpen = true))
        );
      };

      if (this.selectedOpen) {
        this.selectedOpen = false;
        requestAnimationFrame(() => requestAnimationFrame(() => open()));
      } else {
        open();
      }

      nativeEvent.stopPropagation();
    },

    changeCalendar(agenda) {
      const events = [];

      for (let evento in agenda) {
        const date = new Date(agenda[evento].fecha_quedada);

        events.push({
          name:
            agenda[evento].nombre ||
            "Quedada de <strong>" +
              agenda[evento].id_creador.nombre +
              "</strong>",
          start: date,
          end: new Date(date.getTime() + agenda[evento].duracion * 3600000),
          color: this.colors[agenda[evento].estado],
          timed: true,
          enlace: agenda[evento].enlace.replace(
            "https://meet.jit.si/",
            "meets/"
          ),
          propio: agenda[evento].propio,
          details: "Detalles de la quedada",
        });
      }

      this.events = events;
    },
    getCalendar() {
      const URL = import.meta.env.VITE_API;
      axios
        .get(URL + "/meets")
        .then((response) => response.data)
        .then((data) => {
          this.changeCalendar(data);
        })
        .catch((error) => {
          alert(error);
        });
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a;
    },
  },
};
</script>