<template>
  <div>
    <!-- <v-card-text>
      <v-row>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="nombre"
            label="Nombre"
            required
            @keyup.enter="addSkill"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="descripcion"
            label="Descripción"
            required
            @keyup.enter="addSkill"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        color="primary"
        dark
        @click="addSkill"
        :disabled="!nombre || !descripcion"
      >
        Agregar
      </v-btn>
    </v-card-actions> -->
    <v-row>
      <v-col cols="12" sx="6">
        <v-card elevation="2" height="200px" class="mx-lg-auto">
          <v-card-title class="text-h5 font-weight-regular primary white--text">
            <span class="headline">Conocimientos</span>
          </v-card-title>
          <draggable
            v-model="conocimientos"
            :group="{ name: 'people', put: true }"
            :sort="false"
            :end="checkMove2"
          >
            <v-list-item
              v-for="child in conocimientos"
              :key="child.id"
              class="ma-5"
              heigth="500px"
            >
              <v-list-item-content class="ma-5">
                <v-chip
                  class="pa-2 ma-2"
                  outlined
                  prepend-icon="mdi-magnify"
                  v-bind:filter-icon="item.icono"
                  filter
                  :input-value="true"
                  close
                  close-icon="mdi-close"
                  @click:close="close(child)"
                  >{{ child.name }}</v-chip
                >
              </v-list-item-content>
            </v-list-item>
          </draggable>
        </v-card>
      </v-col>
      <v-col cols="12" sx="6">
        <v-card elevation="2" height="200px" class="mx-auto">
          <v-card-title class="text-h5 font-weight-regular primary white--text">
            <span class="headline">Intereses</span>
          </v-card-title>
          <draggable
            v-model="intereses"
            :group="{ name: 'people', put: true }"
            :sort="false"
            :end="checkMove2"
          >
            <v-list-item
              v-for="child in intereses"
              :key="child.id"
              class="mx-auto"
              heigth="500px"
            >
              <v-list-item-content class="ma-5">
                <v-chip
                  class="mx-auto"
                  outlined
                  prepend-icon="mdi-magnify"
                  v-bind:filter-icon="item.icono"
                  filter
                  :input-value="true"
                  close
                  close-icon="mdi-close"
                  @click:close="close(child)"
                  >{{ child.name }}</v-chip
                >
              </v-list-item-content>
            </v-list-item>
          </draggable>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import draggable from "vuedraggable";

export default {
  components: {
    draggable,
  },
  data() {
    return {
      nombre: "",
      descripcion: "",
      conocimientos: [],
      intereses: [],
    };
  },
  methods: {
    addSkill() {
      this.$store.dispatch("addSkill", {
        nombre: this.nombre,
        descripcion: this.descripcion,
      });
      this.nombre = "";
      this.descripcion = "";
    },
    checkMove: function (evt) {
      // check if the item is being dragged into a child list
      if (evt.related.parentNode.id !== evt.to.parentNode.id) {
        // move the item
        evt.related.parentNode.removeChild(evt.related);
        evt.to.appendChild(evt.related);
      }
    },
    checkMove2: function (evt) {
      // alert("a");
      if (this.myArray.include(evt.item)) evt.cancel = true;
    },
    close(cosa) {
      // remove item from array
      this.myArray.splice(this.myArray.indexOf(cosa), 1);
    },
  },
};
</script>

<style>
</style>