<template>
  <v-alert prominent type="error" v-model="error">
    <v-row align="center" class="text-center">
      <v-col class="grow">
        <div v-if="!loading4">
          {{ msg }}
        </div>
        <div v-else>Cargando...</div>
      </v-col>
      <v-col class="shrink">
        <v-btn
          :loading="loading4"
          :disabled="loading4"
          @click="loader = 'loading4'"
          >Importar BBDD</v-btn
        >
      </v-col>
    </v-row>
  </v-alert>
</template>

<script>
import axios from "axios";

export default {
  components: {},
  data() {
    return {
      error: true,
      msg: "La base de datos podría no estar completa y esto afectaría al correcto funcionamiento de la web.",
      loading4: false,
      loader: null,
    };
  },
  methods: {
    checkDB() {
      const bbdd = localStorage.getItem("bbdd");
      if (bbdd === "true") {
        this.error = false;
      } else {
        const URL = import.meta.env.VITE_API;
        axios
          .get(URL + "/mongo")
          .then((response) => response.data)
          .then((data) => {
            localStorage.setItem("bbdd", "true");
            this.msg = "La base de datos está completa";
            this.error = false;
          })
          .catch((error) => {
            localStorage.setItem("bbdd", "false");
            this.error = true;
          });
      }
    },
    putDB() {
      const URL = import.meta.env.VITE_API;
      axios
        .put(URL + "/mongo", { timeout: 10000 })
        .then((response) => response.data)
        .then((data) => {
          localStorage.setItem("bbdd", "true");
          this.msg = "La base de datos está completa";
          setTimeout(() => (this.error = false), 3000);
        })
        .catch((error) => {
          localStorage.setItem("bbdd", "false");
          this.error = true;
          this.msg = "No se ha podido importar la base de datos";
        });
    },
  },
  mounted() {
    this.checkDB();
  },
  watch: {
    loader() {
      const l = this.loader;
      this[l] = !this[l];

      setTimeout(() => ((this[l] = false), this.putDB()), 3000);

      this.loader = null;
    },
  },
};
</script>

<style scoped>
</style>
