<template>
  <v-container>
    <v-row>
      <v-col cols="3">
        <v-sheet rounded="lg" class="pa-4" color="light-grey" height="70vh">
          <CalendarPerfil></CalendarPerfil>
        </v-sheet>
      </v-col>
      <v-col>
        <v-sheet height="70vh" rounded="lg">
          <Perfil></Perfil>
        </v-sheet>
      </v-col>
    </v-row>
    <!-- <SnackBar :tipo="tipo" :msg="msg"></SnackBar> -->
  </v-container>
</template>

<script>
import CalendarPerfil from "@/components/user/CalendarPerfil.vue";
import Perfil from "@/components/user/Perfil.vue";

export default {
  name: "parea-perfil",
  components: {
    CalendarPerfil,
    Perfil,
  },
  data() {
    return {
      //
    };
  },
};
</script>
