<template>
  <v-container>
    <v-row>
      <v-col cols="3">
        <v-sheet rounded="lg">
          <Skills></Skills>
        </v-sheet>
      </v-col>
      <v-col>
        <v-sheet min-height="70vh" rounded="lg">
          <Conocimientos></Conocimientos>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Conocimientos from "@/components/user/Conocimientos.vue";
import Skills from "@/components/user/Skills.vue";

export default {
  name: "parea-conocimientos",
  components: {
    Conocimientos,
    Skills,
  },
};
</script>

<style>
</style>