<template>
  <v-container>
    <v-row>
      <v-col cols="3">
        <v-sheet rounded="lg" class="pa-4" color="light-grey">
          <v-form ref="form" v-model="valid" lazy-validation>
            <span>Buscar por nombre</span>
            <v-text-field v-model="name" label="Nombre"></v-text-field>

            <!-- <span>Buscar por edad</span>
            <v-slider
              v-model="edad"
              :hint="edad"
              max="103"
              min="18"
              :label="edad"
            >
            </v-slider> -->

            <span>Odenar por:</span>
            <v-radio-group v-model="sort" column>
              <v-radio
                label="Puntuación"
                value="calificacion"
                selected
              ></v-radio>
              <v-radio label="Nombre" value="nombre"></v-radio>
            </v-radio-group>

            <span>Otras opciones:</span>
            <v-checkbox v-model="checkbox1" label="Mostrar amigos"></v-checkbox>
            <v-checkbox
              v-model="checkbox2"
              label="Mostrar conocimientos no compartidos"
            ></v-checkbox>

            <v-btn
              block
              class="mt-4 justify-center"
              color="secondary"
              @click="getUsuarios"
            >
              Enviar
            </v-btn>
          </v-form>
        </v-sheet>
      </v-col>
      <v-col>
        <v-sheet min-height="70vh" rounded="lg">
          <AmigoConocimientos :users="users"></AmigoConocimientos>
        </v-sheet>
      </v-col>
    </v-row>
    <!-- <SnackBar :tipo="tipo" :msg="msg"></SnackBar> -->
  </v-container>
</template>

<script>
import AmigoConocimientos from "@/components/user/AmigoConocimientos.vue";
import SnackBar from "@/components/util/SnackBar.vue";
import axios from "axios";

export default {
  name: "parea-amigos",
  data() {
    return {
      users: [],
      items: [],
      edad: 18,
      checkbox1: true,
      checkbox2: false,
      sort: "calificacion",
      valid: true,
      name: "",
      tipo: "",
      msg: "",
    };
  },
  methods: {
    getUsuarios() {
      // this.$store.dispatch("getUsuarios");
      const URL = import.meta.env.VITE_API;
      axios
        .get(URL + "/user/match", {
          params: {
            sort: this.sort,
            asc: this.sort == "nombre" ? "asc" : "desc",
            name: this.name,
          },
        })
        .then((response) => response.data)
        .then((data) => {
          this.users = data;
        })
        .catch((error) => {
          alert(error);
        });
    },
  },
  watch: {
    name(val) {
      this.getUsuarios();
    },
    sort(val) {
      this.getUsuarios();
    },
    checkbox1(val) {
      this.getUsuarios();
    },
  },
  components: {
    AmigoConocimientos,
  },
  created() {
    this.getUsuarios();
  },
};
</script>

<style>
</style>