<template>
  <v-app id="inspire">
    <v-app-bar app color="white" flat>
      <v-container class="py-0 fill-height">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-avatar
              class="mr-10"
              color="grey darken-1"
              size="48"
              v-on="on"
              v-bind="attrs"
            >
              <img :src="user.avatar" :alt="user.nombre" />
            </v-avatar>
          </template>
          <span>{{ user.nombre || "usuario" }}</span>
        </v-tooltip>

        <v-btn v-for="(k, v) in enlaces" :key="k" text :to="k">{{ v }} </v-btn>

        <v-spacer></v-spacer>

        <v-responsive max-width="260">
          <v-text-field
            dense
            flat
            hide-details
            rounded
            solo-inverted
          ></v-text-field>
        </v-responsive>
      </v-container>
    </v-app-bar>
    <mongo></mongo>
    <v-main class="grey lighten-3">
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Calendar from "@/components/user/Calendar.vue";
import Mongo from "@/components/user/mongo.vue";
import axios from "axios";
import PareaConocimientos from "./PareaConocimientos.vue";
import PareaAmigos from "./PareaAmigos.vue";
// import Profile from "@/components/user/Profile.vue";

export default {
  name: "PareaDashboard",
  props: ["name"],
  data: () => ({
    user: "",
    Calendar,
    Mongo,
    links: ["Dashboard", "Buscar amigos", "Mensajes", "Quedadas", "Perfil"],
    enlaces: {
      Dashboard: "/dashboard",
      "Buscar amigos": "/friends",
      Mensajes: "/messages",
      Quedadas: "/quedadas",
      Perfil: "/perfil",
    },
  }),
  methods: {
    onSubmit() {
      const URL = import.meta.env.VITE_API;
      axios
        .get(URL + "/user")
        .then((response) => response.data)
        .then((data) => {
          alert("usuario: " + data.nombre);
        })
        .catch((error) => {
          alert(error);
        });
    },
    getUser() {
      const URL = import.meta.env.VITE_API;
      axios
        .get(URL + "/user")
        .then((response) => response.data)
        .then((data) => {
          this.user = data;
        })
        .catch((error) => {
          alert(error);
        });
    },
  },
  components: {
    Calendar,
    Mongo,
    PareaConocimientos,
    PareaAmigos,
  },
  created() {
    this.getUser();
  },
};
</script>

<style scoped>
</style>
