<template>
<div>
    <p>{{ greeting }}</p>
    <button type="button" @click="count++">count is: {{ count }}</button>
</div>
</template>

<script>
import axios from 'axios'

export default {
name: "parea-usuario",
  data() {
    return {
      greeting: "hola",
      count: 0
    }
  },
  props: ['algo'],
  computed: {
    greeting() {
      const headers = {headers: {'Authorization': 'token '+ TOKEN}}
        axios
        .get(import.meta.env.VITE_API+'/user', headers)
        .then(response => (this.greeting = response.data))
        return this.greeting
    }
  }
}
</script>
