<template>
  <v-app id="inspire">
    <div>
      <v-toolbar color="primary" dark flat>
        <v-app-bar-nav-icon></v-app-bar-nav-icon>

        <v-toolbar-title>Parea</v-toolbar-title>

        <v-spacer></v-spacer>

        <!-- <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-avatar
              class="mr-10"
              color="grey darken-1"
              size="48"
              v-on="on"
              v-bind="attrs"
            >
              <img :src="user.avatar" :alt="user.nombre" />
            </v-avatar>
          </template>
          <span>{{ user.nombre || "usuario" }}</span>
        </v-tooltip> -->
        <v-speed-dial
          v-model="fab"
          top
          right
          v-bind:direction="'left'"
          :transition="'slide-x-reverse-transition'"
        >
          <template v-slot:activator>
            <v-btn v-model="fab" color="blue darken-2" dark fab>
              <v-icon v-if="fab"> mdi-close </v-icon>
              <v-tooltip bottom v-else>
                <template v-slot:activator="{ on, attrs }">
                  <v-avatar
                    color="grey darken-1"
                    size="56"
                    v-on="on"
                    v-bind="attrs"
                  >
                    <img :src="user.avatar" :alt="user.nombre" />
                  </v-avatar>
                </template>
                <span>{{ user.nombre || "usuario" }}</span>
              </v-tooltip>
            </v-btn>
          </template>
          <v-btn fab dark small color="green">
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
          <v-btn fab dark small color="indigo">
            <v-icon>mdi-calendar</v-icon>
          </v-btn>
          <v-btn fab dark small color="red lighten-1" @click="cerrarSesion()">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-speed-dial>

        <template v-slot:extension>
          <v-tabs v-model="tab" align-with-title>
            <v-tabs-slider color="secondary"></v-tabs-slider>

            <v-tab v-for="(k, v) in enlaces" :key="v">
              {{ v }}
            </v-tab>
          </v-tabs>
        </template>
      </v-toolbar>

      <v-main class="grey lighten-3 py-0 fill-height grow flex">
        <v-tabs-items v-model="tab">
          <v-tab-item
            v-for="(k, v) in enlaces"
            :key="v"
            class="grey lighten-3 py-0 fill-height grow flex"
          >
            <mongo></mongo>
            <component :is="k" />
          </v-tab-item>
        </v-tabs-items>
      </v-main>
    </div>
  </v-app>
</template>

<script>
import Calendar from "@/components/user/Calendar.vue";
import Mongo from "@/components/user/mongo.vue";
import axios from "axios";
import PareaConocimientos from "@/components/user/PareaConocimientos.vue";
import PareaAmigos from "@/components/user/PareaAmigos.vue";
import PareaMensajes from "@/components/mensajes/PareaMensajes.vue";
import PareaJitsi from "@/components/quedadas/PareaJitsi.vue";
import PareaPerfil from "@/components/user/PareaPerfil.vue";
// import Profile from "@/components/user/Profile.vue";

export default {
  name: "parea-dashboard",
  props: ["name"],
  active: false,
  data: () => ({
    tab: null,
    user: "",
    Calendar,
    fab: false,
    Mongo,
    enlaces: {
      Dashboard: "parea-perfil",
      Intererses: "parea-conocimientos",
      "Buscar amigos": "parea-amigos",
      Mensajes: "parea-mensajes",
      Quedadas: "calendar",
    },
  }),
  methods: {
    onSubmit() {
      const URL = import.meta.env.VITE_API;
      axios
        .get(URL + "/user")
        .then((response) => response.data)
        .then((data) => {
          alert("usuario: " + data.nombre);
        })
        .catch((error) => {
          alert(error);
        });
    },
    getUser() {
      const URL = import.meta.env.VITE_API;
      axios
        .get(URL + "/user")
        .then((response) => response.data)
        .then((data) => {
          this.user = data;
        })
        .catch((error) => {
          alert(error);
        });
    },
    cerrarSesion() {
      localStorage.removeItem("token");
      this.$router.push("/");
    },
  },
  components: {
    Calendar,
    Mongo,
    PareaConocimientos,
    PareaAmigos,
    PareaMensajes,
    PareaJitsi,
    PareaPerfil,
  },
  created() {
    this.getUser();
  },
};
</script>

<style scoped>
.v-avatar img {
  border: 3px solid #eee;
}
</style>
