<template>
  <v-app>
    <v-container>
      <v-row class="text-center light-grey">
        <!-- <router-link to="/login">Login</router-link><br />
      <router-link to="/">Inicio</router-link> -->
        <!-- <v-btn fab top right small absolute>Hola</v-btn> -->
        <v-col cols="12">
          <v-avatar size="128">
            <v-img :src="user.avatar" class="my-3" contain height="200" />
          </v-avatar>
        </v-col>
        <v-col class="mb-4">
          <h3 class="subheading display-2 font-weight-bold mb-3">
            {{ user.nombre }}
          </h3>
          <h2 class="headline font-weight-bold mb-5">Estadísticas</h2>
        </v-col>

        <v-col class="mb-5" cols="12"> </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import axios from "axios";

export default {
  name: "perfil",

  data: () => ({
    user: "",
  }),
  methods: {
    getUser() {
      const URL = import.meta.env.VITE_API;
      axios
        .get(URL + "/user")
        .then((response) => response.data)
        .then((data) => {
          this.user = data;
        })
        .catch((error) => {
          alert(error);
        });
    },
  },
  mounted() {
    this.getUser();
  },
};
</script>
