<template>
  <div>
    <v-text-field prepend-icon="mdi-magnify"></v-text-field>
    <v-list>
      <v-list-group
        v-for="item in skills"
        :key="item.nombre"
        v-model="item.active"
        :prepend-icon="item.icono"
        no-action
        v-bind:title="item.nombre"
      >
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title v-text="item.nombre"></v-list-item-title>
          </v-list-item-content>
        </template>
        <v-list-item v-for="child in item.hijos" :key="child.nombre">
          <v-list-item-content>
            <draggable
              :end="checkMove"
              :group="{ name: 'people', pull: 'clone', put: false }"
            >
              <v-chip
                outlined
                prepend-icon="mdi-magnify"
                v-bind:filter-icon="item.icono"
                filter
                :input-value="active"
                close
                close-icon="mdi-close"
                @click:close="close(child)"
                >{{ child.nombre }}</v-chip
              >
            </draggable>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
    </v-list>
    <!-- <v-switch v-model="active" label="Active"></v-switch> -->
  </div>
</template>

<script>
import draggable from "vuedraggable";

export default {
  components: {
    draggable,
  },
  methods: {
    close(cosa) {
      // alert(cosa._id);
      cosa.dispose();
    },
    checkMove: function (evt) {
      // alert("evt");
      // check if the item is included in the list
      if (evt.related.parentNode._id == evt.to.parentNode._id) {
        evt.cancel = true;
      }
    },
  },
  data: () => ({
    active: false,
    skills: [
      {
        _id: "628ea6c6591daf38bfe77af8",
        nombre: "Deporte",
        icono: "mdi-soccer",
        descripcion: '"Eventos deportivos"',
        pendiente_aprobar: false,
        solicitado_por: [],
        hijos: [
          {
            nombre: "Ciclismo",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6cd591daf38bfe77b42",
          },
          {
            nombre: "Fútbol",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6cd591daf38bfe77b44",
          },
          {
            nombre: "Tenis",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6cd591daf38bfe77b47",
          },
          {
            nombre: "Basket",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6ce591daf38bfe77b4a",
          },
          {
            nombre: "Rugby",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6ce591daf38bfe77b4d",
          },
          {
            nombre: "Natación",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6ce591daf38bfe77b50",
          },
          {
            nombre: "Running",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6cf591daf38bfe77b53",
          },
        ],
        __v: 7,
      },
      {
        _id: "628ea6c6591daf38bfe77af3",
        nombre: "Educación",
        icono: "mdi-school",
        descripcion: '"Educación, estudios…"',
        pendiente_aprobar: false,
        solicitado_por: [],
        hijos: [
          {
            nombre: "Matemáticas",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6c9591daf38bfe77b27",
          },
          {
            nombre: "Idiomas",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6ca591daf38bfe77b2a",
          },
        ],
        __v: 2,
      },
      {
        _id: "628ea6c6591daf38bfe77af5",
        nombre: "Esoterismo",
        icono: "mdi-zodiac-virgo",
        descripcion: '"Astrología, horóscopo, constelaciones..."',
        pendiente_aprobar: false,
        solicitado_por: [],
        hijos: [
          {
            nombre: "Tarot",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6c8591daf38bfe77b1c",
          },
          {
            nombre: "Astrología",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6c8591daf38bfe77b1e",
          },
        ],
        __v: 2,
      },
      {
        _id: "628ea6c6591daf38bfe77af4",
        nombre: "Hogar",
        icono: "mdi-home",
        descripcion: '"Cosas del hogar"',
        pendiente_aprobar: false,
        solicitado_por: [],
        hijos: [
          {
            nombre: "Bricolage",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6c7591daf38bfe77b11",
          },
          {
            nombre: "Decoración",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6c7591daf38bfe77b13",
          },
        ],
        __v: 2,
      },
      {
        _id: "628ea6c6591daf38bfe77af6",
        nombre: "Ocio",
        icono: "mdi-theater",
        descripcion: '"Tiempo libre"',
        pendiente_aprobar: false,
        solicitado_por: [],
        hijos: [
          {
            nombre: "Cine",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6cb591daf38bfe77b34",
          },
          {
            nombre: "Espectáculos",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6cb591daf38bfe77b36",
          },
        ],
        __v: 2,
      },
      {
        _id: "628ea6c6591daf38bfe77af7",
        nombre: "Oficios",
        icono: "mdi-account-hard-hat",
        descripcion: '"Trabajos"',
        pendiente_aprobar: false,
        solicitado_por: [],
        hijos: [
          {
            nombre: "Albañilería",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6cf591daf38bfe77b56",
          },
        ],
        __v: 1,
      },
      {
        _id: "628ea6c6591daf38bfe77af2",
        nombre: "Salud",
        icono: "mdi-sprout",
        descripcion: '"Salud y bienestar"',
        pendiente_aprobar: false,
        solicitado_por: [],
        hijos: [
          {
            nombre: "Alimentación",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6c9591daf38bfe77b21",
          },
          {
            nombre: "Higiene",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6c9591daf38bfe77b24",
          },
        ],
        __v: 2,
      },
      {
        _id: "628ea6c6591daf38bfe77af9",
        nombre: "Tecnología",
        icono: "mdi-laptop",
        descripcion: '"tecno"',
        pendiente_aprobar: false,
        solicitado_por: [],
        hijos: [
          {
            nombre: "Informática",
            icono: "",
            descripcion: '"inform"',
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6c8591daf38bfe77b16",
          },
          {
            nombre: "Electrónica",
            icono: "",
            descripcion: "",
            pendiente_aprobar: false,
            solicitado_por: [],
            hijos: [],
            _id: "628ea6cf591daf38bfe77b59",
          },
        ],
        __v: 2,
      },
    ],
    items: [],
  }),
  mounted() {
    // this.nombre = ['tenis','2','3']
  },
};
</script>

<style>
</style>