<template>
  <!-- <v-card class="mx-auto" max-width="500"> -->

  <v-list two-line>
    <v-list-item-group v-model="selected" active-class="pink--text">
      <template v-for="(item, index) in msg" v-if="!borrados ^ item.borrado">
        <!-- eslint-disable-next-line  vue/no-v-for-template-key-on-child -->
        <!-- eslint-disable-next-line vue/no-v-for-template-key -->
        <v-list-item :key="item.id">
          <template v-slot:default="{ active }">
            <v-list-item-avatar>
              <v-avatar :color="item.color" size="64" :left="true">
                <img :src="item.id_creador.avatar" :alt="item.name" left />
              </v-avatar>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title
                v-text="
                  item.propio
                    ? item.id_creador.nombre + ' 🖅'
                    : item.id_creador.nombre
                "
              ></v-list-item-title>

              <v-list-item-subtitle
                class="text--primary text-truncate"
                v-text="item.titulo"
              ></v-list-item-subtitle>

              <v-list-item-subtitle
                v-text="item.texto"
                v-if="!borrados"
              ></v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-action>
              <MensajeDialog
                :msg="item"
                :dialog="active"
                v-if="!borrados"
              ></MensajeDialog>
              <v-list-item-action-text v-text="item.enviado">
              </v-list-item-action-text>

              <v-icon
                v-show="!borrados"
                v-if="!item.favorito"
                color="grey lighten-1"
                @click="item.favorito = true"
              >
                mdi-star-outline
              </v-icon>

              <v-icon
                v-show="!borrados"
                v-else
                color="yellow darken-3"
                @click="item.favorito = false"
              >
                mdi-star
              </v-icon>
              <v-icon
                v-show="!!borrados"
                color="red lighten-1"
                @click="borrado(false)"
              >
                mdi-delete-off
              </v-icon>
            </v-list-item-action>
          </template>
        </v-list-item>

        <v-divider v-if="index < msg.length - 1" :key="index"></v-divider>
      </template>
    </v-list-item-group>
  </v-list>
  <!-- </v-card> -->
</template>

<script>
import MensajeDialog from "./MensajeDialog.vue";
import axios from "axios";

export default {
  props: ["msg", "borrados", "propios"],
  components: {
    MensajeDialog,
  },
  data: () => ({
    selected: [2],
  }),
  methods: {
    borrado(estado = true) {
      alert(msg._id);
      const URL = import.meta.env.VITE_API;
      axios
        .put(`${URL}/notice/${this.msg._id}`, {
          borrados: estado,
        })
        .then((res) => {})
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>

<style>
.v-list {
  height: 400px; /* or any height you want */
  overflow-y: auto;
}
</style>