<template>
  <div class="text-center">
    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="text-h6 grey lighten-2">
          <v-avatar size="56">
            <img :alt="msg.id_creador.nombre" :src="msg.id_creador.avatar" />
          </v-avatar>
          <v-spacer></v-spacer>
          {{ msg.titulo }}
        </v-card-title>

        <v-card-text>
          {{ msg.texto }}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            color="error lighten-1"
            text
            @click="
              borrarMsg();
              dialog = false;
            "
          >
            <v-icon> mdi-delete </v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="secondary" text @click="dialog = false"> Volver </v-btn>
          <v-btn color="green" @click="dialog = false" dark>
            <v-icon> mdi-reply </v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "mensaje-dialog",
  props: ["msg", "dialog"],
  data() {
    return {};
  },
  methods: {
    borrarMsg() {
      const URL = import.meta.env.VITE_API;
      axios
        .delete(`${URL}/notice/${this.msg._id}`)
        .then((res) => {})
        .catch((err) => {
          console.log(err);
        });
    },
  },
  computed: {
    comp_settings_change: function () {
      return (this.dialog = this.msg ? true : false);
    },
  },
};
</script>