<template>
  <v-container>
    <v-row>
      <v-col>
        <v-sheet rounded="lg" color="light-grey" min-height="50vh">
          <v-toolbar flat class="blue-grey lighten-3">
            <v-app-bar-nav-icon></v-app-bar-nav-icon>

            <v-toolbar-title>Mensajes</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn
              color="secondary"
              fab
              top
              right
              :title="'nuevo mensaje'"
              @click="crear = true"
            >
              <v-icon>mdi-plus</v-icon></v-btn
            >

            <MensajeCrearDialog
              :dialog="crear"
              @close="
                this.crear = false;
                this.active = false;
              "
            />

            <template v-slot:extension>
              <v-tabs v-model="tabs" fixed-tabs>
                <v-tabs-slider></v-tabs-slider>
                <v-tab class="primary--text" :title="'mensajes sin leer'">
                  <v-badge
                    color="green"
                    :value="mensajes"
                    :content="mensajes"
                    :offset-x="10"
                    :offset-y="10"
                  >
                    <v-icon>mdi-email</v-icon>
                  </v-badge>
                </v-tab>

                <v-tab class="primary--text" :title="'mensajes borrados'">
                  <v-icon>mdi-trash-can</v-icon>
                </v-tab>

                <!-- <v-tab class="primary--text" :title="'mensajes enviados'">
                  <v-icon>mdi-email-send</v-icon>
                </v-tab> -->
              </v-tabs>
            </template>
          </v-toolbar>

          <v-tabs-items v-model="tabs">
            <v-tab-item v-for="i in 2" :key="i">
              <v-card flat>
                <Mensajes
                  :msg="i == 3 ? null : data"
                  :dialog="false"
                  v-model="active"
                  @click="this.active = false"
                  :borrados="i == 2"
                  :propios="i == 3"
                />
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Mensajes from "@/components/mensajes/Mensajes.vue";
import AmigoConocimientos from "../user/AmigoConocimientos.vue";
import axios from "axios";

export default {
  components: {
    Mensajes,
    AmigoConocimientos,
    Mensajes,
  },
  name: "parea-mensajes",
  data() {
    return {
      tabs: null,
      text: "lorem",
      mensajes: 0,
      data: [],
      crear: false,
      active: false,
    };
  },
  methods: {
    getMessages() {
      // this.$store.dispatch("getUsuarios");
      const URL = import.meta.env.VITE_API;
      axios
        .get(URL + "/notice")
        .then((response) => response.data)
        .then((data) => {
          this.data = data;
        })
        .catch((error) => {
          alert(error);
        });
    },
    sin_leer() {
      // this.getMessages();
      this.mensajes = 0;
      for (let i in this.data) this.mensajes += this.data[i].visto ? 0 : 1;
    },
  },
  mounted() {
    this.getMessages();
    this.sin_leer();
  },
  watch: {
    data() {
      this.sin_leer();
    },
  },
};
</script>

<style>
</style>