<template>
  <v-app>
    <v-container>
      <v-row class="text-center light-grey">
        <!-- <router-link to="/login">Login</router-link><br />
      <router-link to="/">Inicio</router-link> -->
        <!-- <v-btn fab top right small absolute>Hola</v-btn> -->
        <v-col cols="12">
          <v-img :src="logo" class="my-3" contain height="200" />
        </v-col>
        <v-col class="mb-4">
          <h1 class="display-2 font-weight-bold mb-3">Bienvenidos a Parea</h1>

          <h4>¿Qué es Parea?</h4>

          <p class="subheading font-weight-regular">
            Parea es el intento de crear una comunidad de personas ávidas
            <br />de aprender y compartir conocimientos e intereses afines.
          </p>
        </v-col>

        <v-col class="mb-5" cols="12">
          <v-btn text outlined :to="'/dashboard'">Acceder</v-btn>
        </v-col>

        <v-col class="mb-5" cols="12">
          <h2 class="headline font-weight-bold mb-5">Contacto</h2>

          <v-row justify="center">
            <a
              v-for="(link, i) in importantLinks"
              :key="i"
              :href="link.href"
              class="subheading mx-3"
              target="_blank"
            >
              {{ link.text }}
            </a>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import logo from "../assets/logo.svg";

export default {
  name: "HelloWorld",

  data: () => ({
    importantLinks: [
      {
        text: "e-mail",
        href: "mailto:angeldefez@gmail.com",
      },
      {
        text: "GitLab",
        href: "https://gitlab.com/angeldefez",
      },
      {
        text: "LinkedIn",
        href: "https://www.linkedin.com/in/%C3%A1ngel-de-fez/",
      },
    ],
    logo,
  }),
};
</script>
