<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="12" sm="10" md="8" lg="6" align="center">
        <v-img :src="logo" class="my-3" contain height="200" />
        <v-spacer></v-spacer>
        <h1 class="red--text text--lighten-1">Ups, 404</h1>
        <h2 class="font-weight-light">La página que buscas no existe</h2>
        <v-btn @click="$router.push('/')" class="mt-5">
          Volver a la página principal
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import logo from "@/assets/logo.svg";
export default {
  name: "NotFound",
  data() {
    return {
      logo,
    };
  },
};
</script>

<style>
</style>