<template>
  <v-container>
    <v-container>
      <v-btn color="white" elevation="2" fab small :to="'/'"
        ><v-icon>mdi-close</v-icon></v-btn
      >
    </v-container>
    <v-row justify="center">
      <v-col cols="12" sm="10" md="8" lg="6">
        <v-img :src="logo" class="my-3" contain height="200" />

        <v-card ref="form">
          <v-btn
            color="secondary"
            elevation="2"
            fab
            small
            right
            absolute
            top
            :to="'/register'"
            ><v-icon>mdi-account-plus</v-icon></v-btn
          >
          <v-card-title class="text-h5 font-weight-regular primary white--text">
            Acceso a usuarios
          </v-card-title>
          <v-card-text>
            <form>
              <v-text-field
                v-model="name"
                :error-messages="nameErrors"
                :counter="10"
                label="Usuario"
                prepend-icon="mdi-account"
                hint="Nombre de usuario"
                required
                clearable
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
              ></v-text-field>
              <v-text-field
                v-model="password"
                :type="show1 ? 'text' : 'password'"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                hint="Al menos 6 caracteres"
                counter
                :error-messages="passwordErrors"
                label="Contraseña"
                prepend-icon="mdi-lock"
                required
                clearable
                @input="$v.password.$touch()"
                @blur="$v.password.$touch()"
                @click:append="show1 = !show1"
              ></v-text-field>
              <v-list-item>
                <v-checkbox
                  class="d-flex justify-start mb-6"
                  v-model="checkbox"
                  label="Recordarme"
                ></v-checkbox>
                <v-row align="center" justify="end">
                  <a
                    href="#"
                    class="
                      text-decoration-none
                      d-flex
                      justify-end
                      mb-6
                      accent--text
                    "
                    >Recuperar contraseña</a
                  >
                </v-row>
              </v-list-item>
              <v-card-actions class="justify-center">
                <v-btn class="mr-4" color="secondary" @click="submit">
                  Aceptar
                </v-btn>
              </v-card-actions>
            </form>
          </v-card-text>
        </v-card>
        <!-- <v-alert
      border="bottom"
      color="red lighten-2"
      dark
      fluid
      v-if="error"
    >
      {{ error }}
    </v-alert> -->
        <v-snackbar
          color="red lighten-2"
          elevation="24"
          v-model="error"
          content-class="white--text center"
          :timeout="3000"
        >
          {{ errorMsg }}
        </v-snackbar>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import logo from "@/assets/logo.svg";
import { validationMixin } from "vuelidate";
import { required, maxLength, minLength } from "vuelidate/lib/validators";
import axios from "axios";

export default {
  mixins: [validationMixin],

  validations: {
    name: { required, maxLength: maxLength(15), minLength: minLength(3) },
    password: { required, minLength: minLength(6) },
  },

  data: () => ({
    name: "",
    show1: false,
    password: "",
    valido: true,
    checkbox: false,
    error: "",
    errorMsg: "",
    logo,
    rules: {
      required: (value) => !!value || "Required.",
      min: (v) => v.length >= 8 || "Min 8 characters",
    },
  }),

  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.maxLength &&
        errors.push("El nombre debe tener como máximo 15 caracteres");
      !this.$v.name.minLength &&
        errors.push("El nombre debe tener como mínimo 3 caracteres");
      !this.$v.name.required && errors.push("El nombre no puede estar vacío");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      if (!this.valido)
        !this.$v.password.password &&
          errors.push("Usuario o contraseña incorrectos");
      !this.$v.password.required &&
        errors.push("La contraseña no puede estar vacía");
      return errors;
    },
  },
  methods: {
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return false; // stop here if form is invalid
      } else {
        this.onSubmit();
      }
    },
    clear() {
      this.$v.$reset();
      this.name = "";
      this.email = "";
    },
    alerta(msg, time) {
      this.error = msg;
      // if (this.error !== '') {
      //   setTimeout(() => {
      //     this.error = ''
      //   }, time*1000)
      // }
    },
    onSubmit() {
      const options = {
        user: this.name,
        password: this.password,
        remember: this.checkbox,
      };
      // const config = { headers: {'Content-Type': 'application/x-www-form-urlencoded'}}
      const URL = import.meta.env.VITE_API;
      axios
        .put(URL + "/login", options)
        .then((response) => response.data)
        .then((data) => {
          localStorage.setItem("token", `JWT ${data}`);
          setTimeout(() => {
            this.$router.push({
              name: "parea-dashboard",
              params: { name: this.nombre },
            });
          }, 1500);
        })
        .catch((error) => {
          if (error.response.status == 401) {
            this.valido = false;
            // this.alerta('Usuario o contraseña incorrectos', 5)
            this.error = true;
            this.errorMsg = "Usuario o contraseña incorrectos";
          }
        });
    },
  },
};
</script>
