<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="12" sm="10" md="8" lg="6">
        <v-img :src="logo" class="my-3" contain height="200" />
        <v-card ref="form">
          <v-card-title class="text-h5 font-weight-regular primary white--text">
            Nuevo usuario
          </v-card-title>
          <v-card-text>
            <form>
              <v-text-field
                v-model="name"
                :error-messages="nameErrors"
                :counter="10"
                label="Usuario"
                prepend-icon="mdi-account"
                hint="Nombre de usuario"
                required
                clearable
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
              ></v-text-field>
              <v-text-field
                v-model="email"
                :error-messages="emailErrors"
                counter
                label="e-mail"
                prepend-icon="mdi-email"
                hint="Cuenta de e-mail"
                required
                clearable
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()"
              ></v-text-field>
              <v-text-field
                v-model="password"
                :type="show1 ? 'text' : 'password'"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                hint="Al menos 6 caracteres"
                counter
                :error-messages="passwordErrors"
                label="Contraseña"
                prepend-icon="mdi-lock"
                required
                clearable
                @input="$v.password.$touch()"
                @blur="$v.password.$touch()"
                @click:append="show1 = !show1"
              ></v-text-field>
              <v-text-field
                v-model="password2"
                :type="show1 ? 'text' : 'password'"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                hint="Al menos 6 caracteres"
                counter
                :error-messages="passwordErrors2"
                label="Repite contraseña"
                prepend-icon="mdi-lock"
                required
                clearable
                @input="$v.password2.$touch()"
                @blur="$v.password2.$touch()"
                @click:append="show1 = !show1"
              ></v-text-field>
              <v-list-item>
                <v-checkbox
                  v-model="checkbox"
                  :error-messages="checkboxErrors"
                  required
                  @input="$v.checkbox.$touch()"
                  @blur="$v.password.$touch()"
                >
                  <template v-slot:label>
                    <div>
                      He leído y acepto los
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <a @click.stop v-on="on">
                            <!-- <a @click.stop="showLegal = true" v-on="on"> -->
                            términos y condiciones
                          </a>
                        </template>
                        Ver términos y condiciones de uso
                      </v-tooltip>
                      <!-- <PareaLegal
                        :visible="showLegal"
                        @close="showLegal = false"
                      ></PareaLegal> -->
                    </div>
                  </template>
                </v-checkbox>
                <!-- <v-checkbox
                  class="d-flex justify-start mb-6"
                  v-model="checkbox"
                  :error-messages="checkboxErrors"
                  label="He leído y acepto los términos y condiciones"
                  required
                  @input="$v.checkbox.$touch()"
                  @blur="$v.password.$touch()"
                ></v-checkbox> -->
                <v-row align="center" justify="end">
                  <template>
                    <div align="center">
                      ¿Ya tienes cuenta?<br />
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <a target="_blank" href="#" @click.stop v-on="on">
                            Iniciar sesión
                          </a>
                        </template>
                        Inicia sesión con tu cuenta
                      </v-tooltip>
                    </div>
                  </template>
                </v-row>
              </v-list-item>
              <v-card-actions class="justify-center">
                <v-btn class="mr-4" color="secondary" @click="submit">
                  Aceptar
                </v-btn>
              </v-card-actions>
            </form>
          </v-card-text>
        </v-card>
        <!-- <v-alert
      border="bottom"
      color="red lighten-2"
      dark
      fluid
      v-if="error"
    >
      {{ error }}
    </v-alert> -->
        <v-snackbar
          color="red lighten-2"
          elevation="24"
          v-model="error"
          content-class="white--text center"
          :timeout="3000"
        >
          {{ errorMsg }}
        </v-snackbar>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import logo from "@/assets/logo.svg";
import { validationMixin } from "vuelidate";
import {
  required,
  maxLength,
  minLength,
  sameAs,
  email,
} from "vuelidate/lib/validators";
import PareaLegal from "@/components/util/PareaLegal.vue";
import axios from "axios";

export default {
  mixins: [validationMixin],
  components: { PareaLegal },

  validations: {
    name: { required, maxLength: maxLength(15), minLength: minLength(3) },
    password: { required, minLength: minLength(6) },
    password2: {
      required,
      minLength: minLength(6),
      sameAs: sameAs("password"),
    },
    email: { required, email },
    checkbox: { required, sameAs: sameAs(() => true) },
    showLegal: false,
  },

  data: () => ({
    name: "",
    email: "",
    show1: false,
    password: "",
    password2: "",
    valido: true,
    checkbox: false,
    error: "",
    errorMsg: "",
    logo,
    rules: {
      required: (value) => !!value || "Required.",
      min: (v) => v.length >= 8 || "Min 8 characters",
    },
  }),
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.maxLength &&
        errors.push("El nombre debe tener como máximo 15 caracteres");
      !this.$v.name.minLength &&
        errors.push("El nombre debe tener como mínimo 3 caracteres");
      !this.$v.name.required && errors.push("El nombre no puede estar vacío");
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.required && errors.push("El e-mail no puede estar vacío");
      !this.$v.email.email && errors.push("El e-mail no es válido");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      if (!this.valido)
        !this.$v.password.password &&
          errors.push("Usuario o contraseña incorrectos");
      !this.$v.password.minLength &&
        errors.push("La contraseña debe tener como mínimo 6 caracteres");
      // !this.$v.password.sameAs && errors.push('Las contraseñas no coinciden')
      !this.$v.password.required &&
        errors.push("La contraseña no puede estar vacía");
      return errors;
    },
    passwordErrors2() {
      const errors = [];
      if (!this.$v.password2.$dirty) return errors;
      if (!this.valido)
        !this.$v.password2.password &&
          errors.push("Usuario o contraseña incorrectos");
      !this.$v.password2.minLength &&
        errors.push("La contraseña debe tener como mínimo 6 caracteres");
      !this.$v.password2.sameAs && errors.push("Las contraseñas no coinciden");
      !this.$v.password2.required &&
        errors.push("La contraseña no puede estar vacía");
      return errors;
    },
    checkboxErrors() {
      const errors = [];
      if (!this.$v.checkbox.$dirty) return errors;
      !this.$v.checkbox.sameAs &&
        errors.push("Acepta las condiciones antes de continuar");
      return errors;
    },
  },
  methods: {
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return false; // stop here if form is invalid
      } else {
        this.onSubmit();
      }
    },
    clear() {
      this.$v.$reset();
      this.name = "";
      this.email = "";
    },
    alerta(msg, time = 3) {
      this.error = true;
      this.errorMsg = msg;
    },
    onSubmit() {
      const options = {
        nombre: this.name,
        email: this.email,
        password: this.password,
      };
      // const config = { headers: {'Content-Type': 'application/x-www-form-urlencoded'}}
      const URL = import.meta.env.VITE_API;
      axios
        .post(URL + "/register", options)
        .then((response) => response.data)
        .then((data) => {
          localStorage.setItem("token", `JWT ${data}`);
          setTimeout(() => {
            this.$router.push({
              name: "parea-dashboard",
              params: { name: this.nombre },
            });
          }, 1500);
        })
        .catch((error) => {
          this.valido = false;
          this.alerta(error.response);
        });
    },
  },
};
</script>
