<template>
  <v-card class="mx-auto" max-width="500">
    <v-btn
      color="secondary"
      elevation="2"
      fab
      small
      right
      absolute
      top
      :to="'/register'"
      ><v-icon>mdi-account-plus</v-icon></v-btn
    >
    <v-card-title class="text-h6 font-weight-regular justify-space-between">
      <span>{{ currentTitle }}</span>
      <v-avatar
        color="primary lighten-2"
        class="subheading white--text"
        size="24"
        v-text="step"
      ></v-avatar>
    </v-card-title>

    <v-window v-model="step">
      <v-window-item :value="1">
        <v-card-text>
          <v-text-field
            v-model="name"
            :error-messages="nameErrors"
            :counter="10"
            label="Usuario"
            prepend-icon="mdi-account"
            hint="Nombre de usuario"
            required
            clearable
            @input="$v.name.$touch()"
            @blur="$v.name.$touch()"
          ></v-text-field>
          <v-text-field
            v-model="email"
            :error-messages="emailErrors"
            counter
            label="e-mail"
            prepend-icon="mdi-email"
            hint="Cuenta de e-mail"
            required
            clearable
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
          ></v-text-field>
        </v-card-text>
      </v-window-item>

      <v-window-item :value="2">
        <v-card-text>
          <v-text-field label="Password" type="password"></v-text-field>
          <v-text-field label="Confirm Password" type="password"></v-text-field>
          <span class="text-caption grey--text text--darken-1">
            Please enter a password for your account
          </span>
        </v-card-text>
      </v-window-item>

      <v-window-item :value="3">
        <div class="pa-4 text-center">
          <v-img
            class="mb-4"
            contain
            height="128"
            src="https://cdn.vuetifyjs.com/images/logos/v.svg"
          ></v-img>
          <h3 class="text-h6 font-weight-light mb-2">Welcome to Vuetify</h3>
          <span class="text-caption grey--text">Thanks for signing up!</span>
        </div>
      </v-window-item>
    </v-window>

    <v-divider></v-divider>

    <v-card-actions>
      <v-btn :disabled="step === 1" text @click="step--"> Back </v-btn>
      <v-spacer></v-spacer>
      <v-btn :disabled="step === 3" color="primary" depressed @click="step++">
        Next
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    step: 1,
    name: "",
    show1: false,
    password: "",
    valido: true,
    checkbox: false,
    error: "",
    errorMsg: "",
    logo,
    rules: {
      required: (value) => !!value || "Required.",
      min: (v) => v.length >= 8 || "Min 8 characters",
    },
  }),

  computed: {
    currentTitle() {
      switch (this.step) {
        case 1:
          return "Sign-up";
        case 2:
          return "Create a password";
        default:
          return "Account created";
      }
    },
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.maxLength &&
        errors.push("El nombre debe tener como máximo 15 caracteres");
      !this.$v.name.minLength &&
        errors.push("El nombre debe tener como mínimo 3 caracteres");
      !this.$v.name.required && errors.push("El nombre no puede estar vacío");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      if (!this.valido)
        !this.$v.password.password &&
          errors.push("Usuario o contraseña incorrectos");
      !this.$v.password.required &&
        errors.push("La contraseña no puede estar vacía");
      return errors;
    },
  },
  methods: {
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return false; // stop here if form is invalid
      } else {
        this.onSubmit();
      }
    },
    clear() {
      this.$v.$reset();
      this.name = "";
      this.email = "";
    },
    alerta(msg, time) {
      this.error = msg;
      // if (this.error !== '') {
      //   setTimeout(() => {
      //     this.error = ''
      //   }, time*1000)
      // }
    },
    onSubmit() {
      const options = {
        user: this.name,
        password: this.password,
        remember: this.checkbox,
      };
      // const config = { headers: {'Content-Type': 'application/x-www-form-urlencoded'}}
      const URL = import.meta.env.VITE_API;
      axios
        .put(URL + "/login", options)
        .then((response) => response.data)
        .then((data) => {
          localStorage.setItem("token", `JWT ${data}`);
          setTimeout(() => {
            this.$router.push({
              name: "parea-dashboard",
              params: { name: this.nombre },
            });
          }, 1500);
        })
        .catch((error) => {
          if (error.response.status == 401) {
            this.valido = false;
            // this.alerta('Usuario o contraseña incorrectos', 5)
            this.error = true;
            this.errorMsg = "Usuario o contraseña incorrectos";
          }
        });
    },
  },
};
</script>
