<template>
  <v-footer padless>
    <v-col class="text-center white--text primary" cols="12" fixed>
      {{ new Date().getFullYear() }} — <strong>Parea</strong>
    </v-col>
  </v-footer>
</template>

<script>
export default {};
</script>

<style>
</style>