<template>
  <v-snackbar
    :color="tipo == 'error' ? 'red lighten-2' : 'green lighten-2'"
    elevation="24"
    v-model="snackbar"
    content-class="white--text center"
    :timeout="3000"
  >
    {{ msg }}
  </v-snackbar>
</template>

<script>
export default {
  props: ["tipo", "msg"],
  data() {
    return {
      msg: "",
      tipo: "",
      snackbar: false,
    };
  },
};
</script>

<style>
</style>