<template>
  <v-app>
    <v-main>
      <mongo></mongo>
      <router-view></router-view>
    </v-main>
    <PareaFooter></PareaFooter>
  </v-app>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import PareaFooter from "./components/util/PareaFooter.vue";
import Mongo from "@/components/user/mongo.vue";

export default {
  name: "App",

  components: {
    HelloWorld,
    PareaFooter,
    Mongo,
  },

  data: () => ({
    //
  }),
};
</script>
