<template>
  <v-app>
    <v-container ref="jitsi" fill-height rounded></v-container>
  </v-app>
</template>

<script>
export default {
  name: "parea-jitsi",
  props: {
    options: {
      type: Object,
      default: () => ({
        url: "meet.jit.si/PreciseMeasurementsRefuseUndoubtedly",
        userInfo: {
          displayName: "Invitado",
        },
        roomName: "parea-vue",
        width: "100%",
        height: "100%",
        parentNode: null,
        configOverwrite: {
          disableAudioLevels: true,
          disableVideo: true,
        },
      }),
    },
  },
  mounted() {
    this.loadScript("https://meet.jit.si/external_api.js", () => {
      if (!window.JitsiMeetExternalAPI)
        throw new Error("Jitsi Meet API not loaded");
      this.embedJitsiWidget();
    });
  },
  beforeDestroy() {
    this.removeJitsiWidget();
  },
  computed: {
    jitsi() {
      return this.options;
    },
  },
  methods: {
    loadScript(src, cb) {
      const scriptEl = document.createElement("script");
      scriptEl.src = src;
      scriptEl.async = 1;
      document.querySelector("head").appendChild(scriptEl);
      scriptEl.addEventListener("load", cb);
    },
    embedJitsiWidget() {
      // build options
      const options = {
        ...this.options,
        parentNode: this.$refs.jitsi,
        configOverwrite: {
          enableNoisyMicDetection: true,
        },
        interfaceConfigOverwrite: {
          SHOW_JITSI_WATERMARK: false,
          SHOW_WATERMARK_FOR_GUESTS: false,
          SHOW_CHROME_EXTENSION_BANNER: false,
        },
        onload: this.onIFrameLoad,
      };
      // attach iframe
      this.jitsiApi = new window.JitsiMeetExternalAPI(
        this.url || "meet.jit.si",
        options
      );
      // run commands
      this.jitsiApi.executeCommand("subject", this.options?.subject);
    },
    removeJitsiWidget() {
      if (this.jitsiApi) this.jitsiApi.dispose();
    },
  },
};
</script>
