<template>
  <div class="text-center">
    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="text-h6 grey lighten-2">
          <v-avatar size="56">
            <img :alt="user.nombre" :src="user.avatar" />
          </v-avatar>
          <v-spacer></v-spacer>
          {{ "Crear quedada" }}
        </v-card-title>

        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="descripcion"
              :rules="[(v) => !!v || '']"
              label="Descripción"
              required
            ></v-text-field>
            <v-menu
              v-model="menu1"
              :close-on-content-click="false"
              max-width="290"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  :value="computedDateFormattedMomentjs"
                  clearable
                  label="Elegir fecha"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  @click:clear="date = null"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="date"
                @change="menu1 = false"
                :rules="[(v) => !!v || ('' && v <= 256) || '']"
              ></v-date-picker>
            </v-menu>
            <v-menu
              ref="menu"
              v-model="menu2"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="time"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="time"
                  label="Hora"
                  prepend-icon="mdi-clock-time-four-outline"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-time-picker
                v-if="menu2"
                v-model="time"
                full-width
                @click:minute="$refs.menu.save(time)"
                :rules="[(v) => !!v || ('' && v <= 256) || '']"
              ></v-time-picker>
            </v-menu>
            <v-col cols="12">
              <v-autocomplete
                v-model="friends"
                :disabled="isUpdating"
                :items="people"
                filled
                chips
                color="blue-grey lighten-2"
                label="Participates"
                item-text="nombre"
                item-value="_id"
                multiple
              >
                <template v-slot:selection="data">
                  <v-chip
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    close
                    @click="
                      data.select;
                      alert(data);
                    "
                    @click:close="remove(data.item)"
                  >
                    <v-avatar left>
                      <v-img :src="data.item.avatar"></v-img>
                    </v-avatar>
                    {{ data.item.nombre }}
                  </v-chip>
                </template>
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-avatar>
                      <img :src="data.item.avatar" />
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.nombre"
                      ></v-list-item-title>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-col>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn color="error lighten-1" text @click="dialog = false">
            <v-icon> mdi-delete </v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="green" :disabled="!valid" @click="validate" dark>
            <v-icon> mdi-send </v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],

  validations: {
    titulo: { required },
    texto: { required, maxLength: maxLength(256) },
  },
  name: "quedada-crear-dialog",
  props: ["dialog"],
  data() {
    return {
      friends: [],
      descripcion: "",
      texto: "",
      autoUpdate: true,
      isUpdating: false,
      people: [],
      user: {},
      valid: false,
      select: null,
      // https://github.com/date-fns/date-fns/blob/master/docs/upgradeGuide.md#string-arguments
      date: format(parseISO(new Date().toISOString()), "yyyy-MM-dd"),
      menu1: false,
      menu2: false,
      time: null,
      menu2: false,
      modal2: false,
    };
  },
  watch: {
    isUpdating(val) {
      if (val) {
        setTimeout(() => (this.isUpdating = false), 3000);
      }
    },
  },
  methods: {
    remove(item) {
      const index = this.friends.indexOf(item.nombre);
      if (index >= 0) this.friends.splice(index, 1);
    },
    enviar() {
      const URL = import.meta.env.VITE_API;
      let receptores = [];
      for (let i in this.friends) {
        receptores.push(this.friends[i]);
      }
      axios
        .post(`${URL}/meets`, {
          participantes: receptores,
          descripcion: this.titulo,
          fecha_quedada: this.date + this.time,
        })
        .then((res) => {
          // destroy the vue listeners, etc
          this.$destroy();

          // remove the element from the DOM
          this.$el.parentNode.removeChild(this.$el);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    validate() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return false; // stop here if form is invalid
      } else {
        this.enviar();
      }
    },
    getFriends() {
      const URL = import.meta.env.VITE_API;
      axios
        .get(URL + "/user/friends")
        .then((response) => response.data)
        .then((data) => {
          this.people = data;
        })
        .catch((error) => {
          alert(error);
        });
    },
    getUser() {
      const URL = import.meta.env.VITE_API;
      axios
        .get(URL + "/user")
        .then((response) => response.data)
        .then((data) => {
          this.user = data;
        })
        .catch((error) => {
          alert(error);
        });
    },
  },
  computed: {
    computedDateFormattedMomentjs() {
      return this.date ? moment(this.date).format("dddd, MMMM Do YYYY") : "";
    },
    computedDateFormattedDatefns() {
      return this.date ? format(parseISO(this.date), "EEEE, MMMM do yyyy") : "";
    },
  },
  mounted() {
    this.getUser();
    this.getFriends();
    this.dialog = false;
  },
};
</script>